.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


html {
  height: 100%;
}

body {

  position: static;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-column: 2 / 2;
  min-height: 100vh;

}

footer {
  position: static;
  

  height: 1rem;
  padding: 1rem;

  grid-row-start: 1;
  grid-row-end: 2;

  margin-bottom: 4rem;
}

.demo-container {
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.interactive-demo {
  margin-top: 2rem;
}

.main-p-container {
  margin-top: 2rem;
}

.json-view {
  min-height: 100vh;
}

.open-question {
  max-width: 20rem;
}

.more-margin {
  margin-top: 1.25rem;
}

.close-button {
  float: right;
}